[user]
	user = troter
	email = trot.thunder@gmail.com
	name = Takumi IINO
[push]
	default = simple
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global
	pager = LESS='MFRX' less
	autocrlf = false
[diff]
	compactionHeuristic = true
[rebase]
	autostash = true
[pager]
	log = diff-highlight-safe | LESS='MFRX' less
	show = diff-highlight-safe | LESS='MFRX' less
	diff = diff-highlight-safe | LESS='MFRX' less
[alias]
	br = branch
	cb = ! git branch | grep '*' | awk '{print $2}' # current-branch
	ci = commit
	co = checkout
	df = diff
	fix = commit --amend
	fixup = commit --amend -C HEAD
	glog = log --pretty=format:\"%C(red)%h%Creset %C(cyan)<%an>%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset\" --abbrev-commit --date=relative --graph --all
	glogc = log --pretty=format:\"%C(red)%h%Creset %C(cyan)<%an>%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset\" --abbrev-commit --date=relative --graph
	lg = log -p
	st = status
	pull = pull --ff-only
	up = ! git fetch && git rebase --autostash FETCH_HEAD
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = trot.thunder@gmail.com
	smtpserverport = 587
[url "https://"]
	insteadOf = git://
[ghq]
	root = ~/src
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
