# -*- coding:utf-8; mode:conf; -*-
# araxis.rc

[extdiff]
cmd.araxisdiff = bash
opts.araxisdiff = -c '"/cygdrive/C/Program Files/Araxis/Araxis Merge/ConsoleCompare.exe" /2 /wait "$(cygpath -w "$0")" "$(cygpath -w "$1")"'

[merge-tools]
araxis.premerge = False
araxis.executable = bash
araxis.args = -c '"/cygdrive/C/Program Files/Araxis/Araxis Merge/ConsoleCompare.exe" /3 /a2 /wait /title1:"Other" /title2:"Base" /title3:"Local:$(cygpath -w "$0")" "$(cygpath -w "$1")" "$(cygpath -w "$2")" "$(cygpath -w "$0")" "$(cygpath -w "$3")"' $local $other $base $output
araxis.checkconflict = True
araxis.binary = True
#araxis.gui = True

