# -*- coding:utf-8; mode:conf; -*-

[alias]
hsow = ! $HG show $@
how = ! $HG show $@
dfif = ! $HG diff $@
difff = ! $HG diff $@
nduge = ! $HG nudge $@
lgo = ! $HG log $@
paht = ! $HG paths $@
qop = ! $HG qpop $@
glgo = ! $HG glog $@
ghs = ! $HG gsh $@
